/**Font Files*/




/*Body-background*/
body{
   background-image: url('./back4.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*Body-background*/

/*Button-AddCourse*/
#new_course{
    float: right;
    display: inline-block;
}
#add_course,button{
    border-radius: 1.25rem !important;
    
}
/*Button-AddCourse*/

/*Alterations*/
.badge{
    font-size: 2em;
    margin: 20px;
    border-radius: 1.25rem;
}
.card{
    background-color: rgba(204, 204, 204, 0.5);
    border-radius: 1.25rem !important;
    width: 18rem;
    flex:unset !important;
    
}
.cards{
    width: unset !important;
    justify-content: center;
}
.card-title{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

ul{
    list-style: none;
    font-family: 'Lobster', serif;
    
}

table{
    color: rgb(161, 161, 161);
}

h1{
    font-family: 'Baloo Chettan', cursive;
}
/*Alterations*/