/*Body-background*/
body{
    background-image: url('./back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*Body-background*/

/*Button-AddCourse*/
#new_course{
    float: right;
    display: inline-block;
}
#add_course,button{
    border-radius: 1.25rem !important;
    
}
/*Button-AddCourse*/

/*Alterations*/
.badge{
    font-size: 2em;
    margin: 20px;
    border-radius: 1.25rem;
}
.card{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1.25rem !important;
    width: 18rem;
    flex:unset !important;
    
}
.cards{
    width: unset !important;
    justify-content: center;
}

table{
    color: white;
}
/*Alterations*/